In [1]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection = mydatabase['studentscores']  

data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [33]:
list(collection.find({}))

[{'_id': ObjectId('5f85d0d47a06ec67df9f7f74'),
  'user': 'Krish',
  'subject': 'Database',
  'score': 80},
 {'_id': ObjectId('5f85d0d47a06ec67df9f7f75'),
  'user': 'Amit',
  'subject': 'JavaScript',
  'score': 90},
 {'_id': ObjectId('5f85d0d47a06ec67df9f7f76'),
  'user': 'Amit',
  'title': 'Database',
  'score': 85},
 {'_id': ObjectId('5f85d0d47a06ec67df9f7f77'),
  'user': 'Krish',
  'title': 'JavaScript',
  'score': 75},
 {'_id': ObjectId('5f85d0d47a06ec67df9f7f78'),
  'user': 'Amit',
  'title': 'Data Science',
  'score': 60},
 {'_id': ObjectId('5f85d0d47a06ec67df9f7f79'),
  'user': 'Krish',
  'title': 'Data Science',
  'score': 95}]

In [45]:
# {
#   $group:
#     {
#       _id: <expression>, // Group By Expression
#       <field1>: { <accumulator1> : <expression1> },
#       ...
#     }
#  }

<!-- {
  $group:
    {
      _id: <expression>, // Group By Expression
      <field1>: { <accumulator1> : <expression1> },
      ...
    }
 } -->

In [41]:
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user"  ,
         "total no of subjects" : {"$sum" : 1} 
         }} 
    ])

In [42]:
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'total no of subjects': 3}
{'_id': 'Krish', 'total no of subjects': 3}

In [48]:
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user"  ,
         "sum of all subjects" : {"$sum" : "$score"} 
         }} 
    ])

In [49]:
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'sum of all subjects': 250}
{'_id': 'Amit', 'sum of all subjects': 235}

In [51]:
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user"  ,
         "sum of all subjects" : {"$avg" : "$score"} 
         }} 
    ])

for i in agg_result: 
    print(i)

{'_id': 'Amit', 'sum of all subjects': 78.33333333333333}
{'_id': 'Krish', 'sum of all subjects': 83.33333333333333}

In [54]:
import datetime as datetime

data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [55]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

In [61]:
agg_result = mycollection.aggregate(
[{
    "$group":
        {
            "_id" : "$item",
            "total_price": {'$sum' : {"$multiply" : ["$price","$quantity"]}},
            "avgQuantity": { "$avg": "$quantity" }
        }
}]

)
for i in agg_result: 
    print(i)

{'_id': 'abc', 'total_price': 120, 'avgQuantity': 6.0}
{'_id': 'jkl', 'total_price': 20, 'avgQuantity': 1.0}
{'_id': 'xyz', 'total_price': 75, 'avgQuantity': 7.5}