In [2]:
import pymongo
client = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = client['ParenttTable']
collection = mydb.ChildTable

In [3]:
record = {
    'name' : 'Krishna',
    'attribute' :'cute',
    'age' : 20000
}

In [4]:
collection.insert_one(record)

In [5]:
records =[ {
    'name' : 'Krishna',
    'attribute' :'Vcute',
    'age' : 30000
},

{
    'name' : 'Devi',
    'attribute' :'Sharp',
    'age' : 5000
}]

In [6]:
collection.insert_many(records)

In [11]:
collection.find_one()

{'_id': ObjectId('5f85acde763f741482f58435'),
 'name': 'Krishna',
 'attribute': 'cute',
 'age': 20000}

In [14]:
list(collection.find())

[{'_id': ObjectId('5f85acde763f741482f58435'),
  'name': 'Krishna',
  'attribute': 'cute',
  'age': 20000},
 {'_id': ObjectId('5f85ad34763f741482f58436'),
  'name': 'Krishna',
  'attribute': 'Vcute',
  'age': 30000},
 {'_id': ObjectId('5f85ad34763f741482f58437'),
  'name': 'Devi',
  'attribute': 'Sharp',
  'age': 5000}]

In [15]:
for record in collection.find({'attribute': 'Sharp'}):
    print(record)

{'_id': ObjectId('5f85ad34763f741482f58437'), 'name': 'Devi', 'attribute': 'Sharp', 'age': 5000}

In [19]:
for record in collection.find({'name': {'$in': ['Devi','Krishna']}}):
    print(record)

{'_id': ObjectId('5f85acde763f741482f58435'), 'name': 'Krishna', 'attribute': 'cute', 'age': 20000}
{'_id': ObjectId('5f85ad34763f741482f58436'), 'name': 'Krishna', 'attribute': 'Vcute', 'age': 30000}
{'_id': ObjectId('5f85ad34763f741482f58437'), 'name': 'Devi', 'attribute': 'Sharp', 'age': 5000}

In [20]:
for record in collection.find({'age': {'$lt': 50000}}):
    print(record)

{'_id': ObjectId('5f85acde763f741482f58435'), 'name': 'Krishna', 'attribute': 'cute', 'age': 20000}
{'_id': ObjectId('5f85ad34763f741482f58436'), 'name': 'Krishna', 'attribute': 'Vcute', 'age': 30000}
{'_id': ObjectId('5f85ad34763f741482f58437'), 'name': 'Devi', 'attribute': 'Sharp', 'age': 5000}

In [23]:
for record in collection.find({ '$or' : [ {'age': {'$gt': 1000}},  {'name': 'Devi'}  ] }):
    print(record)

{'_id': ObjectId('5f85acde763f741482f58435'), 'name': 'Krishna', 'attribute': 'cute', 'age': 20000}
{'_id': ObjectId('5f85ad34763f741482f58436'), 'name': 'Krishna', 'attribute': 'Vcute', 'age': 30000}
{'_id': ObjectId('5f85ad34763f741482f58437'), 'name': 'Devi', 'attribute': 'Sharp', 'age': 5000}

In [24]:
for record in collection.find({ '$and' : [ {'age': {'$gt': 1000}},  {'name': 'Devi'}  ] }):
    print(record)

{'_id': ObjectId('5f85ad34763f741482f58437'), 'name': 'Devi', 'attribute': 'Sharp', 'age': 5000}

In [25]:
record = {
    'name' : 'Krishna',
    'attribute' :{'h' : 25,
                 'w': 55,
                 'd': 'depth'},
    'age' : 20000
}

In [26]:
collection.insert_one(record)

In [28]:
record = {
    'name' : 'Devo',
    'attribute' :{'h' : 5,
                 'w': 5,
                 'd': 'depth'},
    'age' : 2000
}

In [29]:
collection.insert_one(record)

In [49]:
for record in collection.find( {'attribute.h': 5 } ):
    print(record)

{'_id': ObjectId('5f85b060763f741482f58439'), 'name': 'Devo', 'attribute': {'h': 5, 'w': 5, 'd': 'depth'}, 'age': 2000, 'new': 'newww'}